<div class="container">
  <div class="row">

    <div class="col">

      <h4><%= @customer.family_name + @customer.first_name %>さんの会員詳細</h4>

      <div>
        <table>
          <tr> <th>会員ID</th> <td><%= @customer.id %></td> </tr>
          <tr> <th>氏名</th> <td><%= @customer.family_name + @customer.first_name %></td> </tr>
          <tr> <th>フリガナ</th> <td><%= @customer.family_name_kana + @customer.first_name_kana %></td> </tr>
          <tr> <th>郵便番号</th> <td><%= @customer.postal_code %></td> </tr>
          <tr> <th>住所</th> <td><%= @customer.address %></td> </tr>
          <tr> <th>電話番号</th> <td><%= @customer.telephone_number %></td> </tr>
          <tr> <th>メールアドレス</th> <td><%= @customer.email %></td> </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <% if @customer.is_active == true %>
                <p>有効</p>
              <% else %>
                <p>退会</p>
              <% end %>
            </td>
          </tr>
        </table>

        <!--編集・注文一覧履歴ボタン-->
        <a class="btn btn-sm btn-success" href='<%= edit_admin_customer_path(@customer) %>'>編集する</a>
        <a class='btn btn-primary' href='#'>注文履歴一覧を見る</a>

      </div>

    </div>

  </div>
</div>
