<div class="container">
  <div class="row form-group">
    <div class="col">
      <h5 class="float-left font-weight-bold bg-light px-3 my-3">注文情報入力</h5>
      <%= form_with model: @order, url: orders_path, local: true do |f| %>
        <h4 class="col-form-label ">支払方法</h4>
        <div class="">
          <%= f.radio_button :payment_method, 0 %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %>
          <%= f.radio_button :payment_method, 1 %>
          <%= f.label :payment_method_transfer, "銀行振込" %>
        </div>
        <h4 class="col-form-label ">お届け先</h4>
        <div class="">
          <%= f.submit "新規登録", class:"btn btn-block btn-success w-75" %>
        </div>
      <% end %>
  </div>
</div>