<!--<table class="table">-->
<!--  <thead class="table-bordered text-center">-->
<!--    %= image_tag @item.get_image(400,400) %>-->
<!--    <tr>-->
<!--      <td>商品名</td>-->
<!--      <td>%= @item.name %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>商品説明</td>-->
<!--      <td>%= @item.introduction %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>ジャンル</td>-->
<!--      <td>%= @item.genre.name %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>税込価格<p>(税抜価格)</p></td>-->
<!--      <td>%= (@item.price * 1.1).round %> (%= @item.price %>) 円</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>販売ステータス</td>-->
<!--      <td>%= @item.is_active %></td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
<div class="container">
  <div class="row">
    <!--ジャンル検索-->
    <div class="col-md-3 pt-5">
      <%= render 'public/homes/genre_search', genres: @genres %>
    </div>
    <!--詳細-->
    <div class="col-md-8 offset-md-1 pt-5">
      <div class="col-5 d-inline-block">
        <%= image_tag @item.get_image(300,300) %>
      </div>
      <div class="col-5 offset-1 d-inline-block">
        <h4 class="font-weight-bold"><%= @item.name %></h4><br>
        <h6><%= @item.introduction %></h6><br>
        <h5>¥<%= (@item.price * 1.1).round %> (税込)</h5>
        <!--数量入力-->
        <div class="mt-4">
          <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, *[1..3] %>
          <%= f.submit 'カートに入れる', class: 'btn btn-success ml-5' %>
        <% end %>
        </div>
      </div>
    </div>

  </div><!--row-->
</div><!--container-->